.inputField {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background-color: #fff; 
  }
  .inputField:hover {
    border-color: #999;
  }
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: 20px;
  }
  
  .button:hover {
    background-color: #0056b3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }